# --- Scraping & Web ---
requests==2.31.0
beautifulsoup4==4.12.3
selenium==4.18.1
webdriver-manager==4.0.1

# --- Traitement de Données ---
pandas==2.2.0
python-dotenv==1.0.1

# --- Bases de Données & Graph ---
psycopg2-binary==2.9.9    # Pour PostGIS
SQLAlchemy==2.0.28
geoalchemy2==0.14.7
neo4j==5.18.0             # Pour Neo4j
qdrant-client==1.8.0      # Pour Qdrant

# --- IA & Agents (Projet) ---
agno>=2.2.11
openai>=1.12.0